html {
    background-color: slategray;
}

body {
    margin: 0;
}

.main {
    display: flex;
}

.pictures .leaves {
    width: 550px;
    height: 900px;
}

.pictures .back {
    position: absolute;
    top: 150px;
    width: 550px;
    height: 230px;
    background-color: black;
    opacity: 0.5;
}

.pictures .credit {
    position: absolute;
    top: 875px;
    width: 550px;
    height: 280px;
    text-align: center;
    color: white;
    opacity: 0.7;
}

.pictures .overlay {
    position: absolute;
    top: 220px;
    left: 230px;
    font-weight: bold;
    text-align: left;
    font-size: 70px;
    font-family: cursive, sans-serif;
    color: white;
  }

.pictures .odin {
    position: absolute;
    top: 190px;
    left: 130px;
    width: 100px; /* you can use % */
    height: 150px;
  }

.header {
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    height: 335px;
    width: 1000px;
}

.header-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-left: 40px;
    width: 900px;
    height: 300px;
    margin-top: 100px;
}

.know {
    display: flex;
    font-size: 35px;
    margin-left: 40px;
    width: 900px;
    height: 700px;
    margin-top: 30px;
    margin-bottom: 40px;
}

.middle {
    background-color: aliceblue;
}

.middle-head {
    font-size: 25px;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.form {
    display: flex;
    gap: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}

.user {
    margin-bottom: 20px;
}

.first {
    display: flex;
    flex-direction: column;
    color: gray;
    
}

.email {
    display: flex;
    flex-direction: column;
    color: gray;
}

.pass {
    display: flex;
    color: gray;
}

.account {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 10px;
    border-style: solid;
    border-color: cornflowerblue;
    padding: 15px;
    font-size: 15px;
}

.footer {
    margin-left: 40px;
    font-size: 20px;
}

mark.sign {
    margin-left: 5px;
    color: darkgreen;
    background-color:slategray
}

button:hover {background-color: #3e8e41}

button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}